@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="adminLeftNav leftNavDefault" id="leftNavigation">
<h2>Admin</h2>
<img src="~/images/down_black.svg" id="adminNavDown" alt="Fäll ned meny" />
@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Booking" asp-action="Index">Bokningar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Menus" asp-action="Index">Menyer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Restaurant" asp-action="Index">Restaurang</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Skapa användare</a>
        </li>
    </ul>
}
</div>