<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Isola Restaurang & Bar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <!--Typsnitt-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:600" rel="stylesheet">
</head>
<body>
    <header class="restaurantHeader" id="top">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.svg" class="logo" /></a>
        <nav class="restaurantNav defaultMenu" id="navigation">
            <img src="~/images/hamburger.svg" id="hamburger" />
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Start</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="MenuItems" asp-action="Index">Meny</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Booking" asp-action="Create">Boka</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <partial name="_FooterInfoPartial" />
        <div class="copyright">
            <p>&copy; @DateTime.Now.Year Isola Restaurang & Bar</p>
        </div>
        <a href="#top" class="toTop"><img src="~/images/up-02.png"/></a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
