@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto innehåller personlig data som du har angivit. Här kan du ta bort eller ladda ner denna data.</p>
        <p>
            <strong>Genom att att bort denna data kommer detta konto tas bort permanent och kan inte återtas.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Ladda ner</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Radera</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}