@{
    ViewData["Title"] = "Start - Isola Restaurang & Bar";
}

<div class="headerBox">
    <div class="downArrowBox">
        <img src="~/images/down.svg" class="downArrow" alt="Ner" />
    </div>
</div>
<div class="aboutBox">
    <h1>Välkommen!</h1>
    <p>
        Isola Restaurang & Bar är en äkta genuin italiensk restaurang som har försett Örebro med god och kvalitativ mat sedan 2008. I en rustik och anrik atmosfär avnjuter ni autentiska och moderna italienska delikatesser tillagade med både kärlek och respekt för den egna råvaran. Framför allt god service!
    </p>
</div>
<div class="betweenBoxes"></div>
<div class="startMenuBox">
    <h2>Vår meny</h2>
    <p>
        Vi nydanar de naturliga smakerna från de bästa ingredienserna. Vår inspiration och smakämnen frodas från södra Italien och Sicilien. Kolla in vår meny!
    </p>
    <div class="btnContainer">
        <a asp-controller="MenuItems" asp-action="Index" class="btnGold">Meny</a>
    </div>
</div>
<div class="startBookingBox">
    <h2>Boka bord</h2>
    <div class="btnContainer">
        <a asp-controller="Booking" asp-action="Create" class="btnBeige">Boka</a>
    </div>
</div>
