@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Åtkomst nekas";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du har inte behörighet till denna resurs.</p>
</header>
