@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Glömt lösenord bekräftelse";
}

<h1>@ViewData["Title"]</h1>
<p>
    Var vänlig att kontrollera din e-post för att återställa lösenordet.
</p>

