
@{
    ViewData["Title"] = "Bokningsbekräftelse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="headerBox smallHeader">
    <div class="downArrowBox">
        <img src="~/images/down.svg" class="downArrow" alt="Ner"/>
    </div>
</div>
<div class="confirmationBox">
    <h1>Bokningsbekräftelse</h1>
    <p>Tack för din bokning! <br />En fullständig bokningsbekräftelse kommer att skickas till din e-post. <br />Välkommen!</p>
</div>

